/* 无商品购物车界面 */
.cmdtNone {
  width: 1200px;
  height: 300px;
  margin: 20px auto 30px;
}
.cmdtNone .nav {
  width: 1200px;
  height: 20px;
}
.cmdtNone > .nav > .nav_left {
  width: 230px;
  height: 20px;
  line-height: 20px;
  float: left;
}
.cmdtNone > .nav > .nav_right {
  width: 470px;
  height: 20px;
  line-height: 20px;
  float: right;
}
.cmdtNone > .nav > .nav_right p {
  font-size: 12px;
}
.cmdtNone .ps {
  width: 1044px;
  height: 90px;
  background: url(../assets/imgs/shopping_car.png) no-repeat 40px 86px;
  padding: 88px 0 100px 156px;
}
.cmdtNone > .ps p {
  font-size: 12px;
}
.cmdtNone > .ps p:nth-child(1) {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* 商品购物车界面 */
.shoppingCar {
  width: 1200px;
  margin: 0 auto;
}
.carHead {
  width: 1200px;
  height: 33px;
  border-bottom: 3px solid #e6e6e6;
}
.carHead > h4 {
  float: left;
  width: 100px;
  line-height: 33px;
  padding-left: 15px;
  color: #ff8000;
  border-bottom: 3px solid #ff8000;
}
.carHead > .right {
  line-height: 33px;
  float: right;
  font-size: 12px;
  padding-right: 5px;
}
.style-red {
  color: #ff4400;
  font-weight: bold;
}
.carCenter > .title {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}
.carCenter > .title > tr {
  float: right;
  padding-right: 5px;
}
.carCenter > .title > tr td:nth-child(1) {
  width: 292px;
  padding-left: 50px;
  background-color: blue;
}
.carCenter > .title > tr td:nth-child(2) {
  width: 212px;
  background-color: blueviolet;
}
.carCenter > .title > tr td:nth-child(3) {
  width: 130px;
  background-color: blue;
}
.carCenter > .title > tr td:nth-child(4) {
  width: 120px;
  background-color: blueviolet;
}
.carCenter > .title > tr td:nth-child(5) {
  width: 140px;
  background-color: blue;
}
.carCenter > .title > tr td:nth-child(6) {
  width: 149px;
  background-color: blueviolet;
}
.carCenter > .center {
  width: 1200px;
  overflow: hidden;
}
.carCenter > .center > .el_checkbox_group {
  float: left;
  width: 80px;
  padding: 10px 0;
}
.carCenter > .center .el_checkbox {
  height: 82px;
  width: 50px;
  padding: 20px 0 20px 30px;
}
.carCenter > .center .cmdtRight {
  float: left;
  width: 1110px;
  padding: 10px 0;
}
.carCenter > .center > .cmdtRight ul {
  height: 82px;
  padding: 20px 0;
}
.carBottom {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
.checkAll {
  padding-left: 15px;
}
.carBottom > tr {
  float: right;
}
.carBottom > .tr2 {
  width: 580px;
  height: 50px;
  margin-left: 310px;
}
.carBottom > .tr2 td {
  float: right;
}
.carBottom > .tr1 td:nth-child(1) {
  width: 62px;
}
.carBottom > .tr1 td:nth-child(2) {
  width: 95px;
}
.carBottom > .tr1 td:nth-child(3) {
  width: 50px;
}
.carBottom > .tr2 td:nth-child(4) {
  width: 140px;
  margin-right: 40px;
}
.carBottom > .tr2 td:nth-child(2) {
  color: #ff4400;
  font-size: 22px;
  font-weight: bold;
  padding: 0 8px;
}
.carBottom .cmdtnum {
  font-size: 18px;
  color: #ff4400;
  padding: 0 5px;
}
.cmdtNever {
  width: 1200px;
}
.cmdtNever > .border {
  width: 1191px;
  height: 34px;
  border: 1px solid #fcd3b6;
  border-radius: 5px;
  margin: 80px 0;
}
.cmdtNever p {
  width: 1170px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 2px solid #fff8d9;
  border-radius: 5px;
  padding-left: 17px;
}
